<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.personal.gerald.assetmanager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="Overview"
            android:label="@string/overview" >
        </activity>

        <activity
            android:name="Newincome"
            android:label="@string/new_income" >
        </activity>

        <activity
            android:name="Newoutgoing"
            android:label="@string/new_outgoing" >
        </activity>

        <activity
            android:name="Settings"
            android:label="@string/settings" >
        </activity>

        <activity
            android:name="Addone" >
        </activity>

        <activity
            android:name="Instalment"
            android:label="@string/add_instalment" >
        </activity>

        <activity
            android:name="Detail"
            android:label="@string/detail" >
        </activity>

        <activity
            android:name="Predict"
            android:label="@string/predict_future_asset" >
        </activity>

    </application>

</manifest>
